{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "threads": "max",
    "logs": {
        "text": "infection.log",
        "summary": "summary.log",
        "stryker": {
            // matches versioned release branches, e.g. "2.0.x"
            "badge": "/^\\d+\\.\\d+\\.x$/"
        }
    },
    "mutators": {
        "@default": true
    },
    "staticAnalysisTool": "mago"
}
